html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{font-variant:normal}
/* to preserve line-height and selector appearance */
sup {vertical-align:text-top}
sub {vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
/*because legend doesn't inherit in IE */
legend{color:#000}

*{border:0px solid #eee;margin:0;padding:0;list-style:none}
html,body,#bg,#bg table,#bg td,#cont{width:100%;height:100%;overflow:hidden;top: 0px; margin-top: 0px}
body{font-family:Arial,Helvetica,sans-serif;font-size:16px;cursor:default;background:url(bg.png);color:#c4e2e9}
h1,h2{font-family:Arial,sans-serif;font-size:40px}
h2,.box div img{padding-bottom:10px}
a{text-decoration:none;color:#fff;outline:0}
img{display:inline}

.cont{position:absolute;top:0;left:0;z-index:70;overflow:auto}
#cont{position:absolute;top:0;left:0;z-index:70;overflow:auto}

#menu{position:absolute;bottom:0px;left:0px;right:0px;z-index:80;width:100%;line-height:16px}
#menu div{height:7.7em;background:url(bg.png)}
#menu div a img {bottom:0px;left:200px;position:absolute}
#menu ul.tabs {bottom:0px;right:0px;position:absolute}
#menu div #fixed_menu {background:transparent none ;bottom:0px;right:0px;position:absolute;width:7em}

#menu div div#primary ul.links {text-align:right;width:7em;margin: 0;padding:.35em 0}
#menu div div#primary {bottom:0px;left:8em;width:7em;position:absolute;padding:.35em 0;background:transparent url(bg.png)}

#menu div div#secondary ul.links {padding:.35em 0;text-align:right;width:8em;margin:0}

#menu div div#secondary {padding:.35em 0;bottom:0px;left:0;width:8em;position:absolute;background:transparent url(bg.png)}

ul{float:left;}
#menu div li {padding:0}
li a{white-space:nowrap;height:1.3em;padding:0 5px;color:#c4e2e9;display:block}
li.active-trail a{background:#888}
li a:hover,
li a.active{background:white;color:#000}
.yes *, .no *, .yes, .no {
  overflow: visible;
}

.yes div{line-height:1.5em;background:url(bg.png);padding:20px 30px}

.yes div div,.no div div{display:inline;background:none;padding:0}
.yes div ul,.no div ul,.yes div li,.no div li{float:none;list-style-position:inside;list-style-type:disc}
.yes a,.no a{text-decoration:underline}
.yes div p, .no div p {margin-bottom:10px}
.large h2{font-size:60px}
.field-field-ss-photo .field-items .field-item {
  
}
.white{color:#fff}

.Top{top:25px;position:absolute}
.Middle{top:45%;position:absolute}
.Bottom{bottom:0;position:absolute}

.Left{left:25px}
.Centre{left:37%}
.Right{right:25px}

.large{padding-bottom:7.7em;width:74%}
.medium{padding-bottom:7.7em;width:50%}
.small{padding-bottom:7.7em;width:26%}

.large.Centre{left:13%}
.medium.Centre{left:25%}
.small.Centre{left:37%}

h3{position:relative;border-bottom-width:1px;padding:30px 30px 10px 30px;margin:0 -30px 20px -30px;text-transform:uppercase;line-height:20px;font-weight:bold}
h3 span{position:absolute;right:510px;top:29px;background:#000;text-align:center;padding:0 5px;white-space:nowrap;display:block;color:#fff;font-weight:normal}

dl{margin:10px 0}
dt,dd p{padding:15px 0 25px 0;display:block;border-top-width:1px;width:440px}
dt{text-transform:uppercase;padding:0 5px;cursor:pointer;line-height:20px;height:20px;font-weight:bold;width:430px}
dd{height:0px;overflow:hidden;width:440px}

#photos{position:absolute;z-index:90;bottom:41px;right:40px;height:20px;overflow:hidden}
#photos a,#float{z-index:90;height:20px;line-height:20px;text-align:center;width:40px;background:#000 url(gal.gif) -6px 5px no-repeat;cursor:pointer;color:#fff}
#photos a{width:20px;float:left;margin-left:1px;background:#000;font-weight:bold;overflow:hidden}
#photos a:hover,#photos a.cur{background:#fff;color:#000}

a#site-name {bottom:3px;color:#C4E2E9;font-size:68px;left:248px;position:absolute}
a#site-name span {color: PowderBlue;font-size:68px;font-weight: 300;line-height: 56px;margin: 0 0 0 10px;white-space: nowrap}
a#site-name span.dark {color: #72ccea !important;}
a#site-name span.slogan {font-size:48px}

#copyright {left: 45.5em;bottom: 6.5em;position: absolute;}
#modalContainer {overflow:hidden;}

#menu div li {height:1.3em;margin:0;padding:0;display:block;}

@media only screen and (max-width: 600px) {
  .medium {width: 70%}
  #menu div{height:15em}
  a#site-name {bottom:3px;color:#C4E2E9;font-size:37px;left:248px;position:absolute}
  a#site-name span {color: PowderBlue;font-size:37px;font-weight: 300;line-height: 30px;margin: 0 0 0 10px;white-space: nowrap}
  a#site-name span.slogan {font-size:23px}
  
  .Top{top:25px;position:absolute}
  .Middle{top:25%;position:absolute}
  .Bottom{bottom:0;position:absolute}

  .Left{left:25px}
  .Centre{left:37%}
  .Right{right:25px}

  .large{padding-bottom:15em;width:93.3%}
  .medium{padding-bottom:15em;width:70%}
  .small{padding-bottom:15em;width:50%}

  .large.Centre{left:3.3%}
  .medium.Centre{left:15%}
  .small.Centre{left:25%}
}
div#admin-toolbar {-x-system-font:none;background:transparent url(/sites/all/modules/admin/toolbar/sprite.png) repeat-x scroll 0 -20px;
bottom:0;color:#CCCCCC;font-family:"Lucida Grande",Verdana,sans-serif;
font-size:11px;width: 707px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
left:216px;
line-height:20px;
position:absolute;
z-index:100;
}
